/*
  Should be placed on the grid to handle any border-spacing
  This is a mixin to be used by anyone building from source
  to have a more customizable gridzilla experience.
*/
.grid {
  display: table;
  width: 100%; }
  .grid-padding {
    border-spacing: 1rem; }
  .grid.fixed {
    table-layout: fixed; }
  .grid .cell-pre-1 {
    padding-left: 8.33333%; }
  .grid .cell-pre-2 {
    padding-left: 16.66667%; }
  .grid .cell-pre-3 {
    padding-left: 25%; }
  .grid .cell-pre-4 {
    padding-left: 33.33333%; }
  .grid .cell-pre-5 {
    padding-left: 41.66667%; }
  .grid .cell-pre-6 {
    padding-left: 50%; }
  .grid .cell-pre-7 {
    padding-left: 58.33333%; }
  .grid .cell-pre-8 {
    padding-left: 66.66667%; }
  .grid .cell-pre-9 {
    padding-left: 75%; }
  .grid .cell-pre-10 {
    padding-left: 83.33333%; }
  .grid .cell-pre-11 {
    padding-left: 91.66667%; }
  .grid .cell-post-1 {
    padding-right: 8.33333%; }
  .grid .cell-post-2 {
    padding-right: 16.66667%; }
  .grid .cell-post-3 {
    padding-right: 25%; }
  .grid .cell-post-4 {
    padding-right: 33.33333%; }
  .grid .cell-post-5 {
    padding-right: 41.66667%; }
  .grid .cell-post-6 {
    padding-right: 50%; }
  .grid .cell-post-7 {
    padding-right: 58.33333%; }
  .grid .cell-post-8 {
    padding-right: 66.66667%; }
  .grid .cell-post-9 {
    padding-right: 75%; }
  .grid .cell-post-10 {
    padding-right: 83.33333%; }
  .grid .cell-post-11 {
    padding-right: 91.66667%; }
  @media (min-width: 1200px) {
    .grid .cell-lg-0 {
      display: none; }
    .grid .cell-lg-1 {
      display: table-cell;
      vertical-align: top;
      width: 8.33333%; }
    .grid .cell-lg-2 {
      display: table-cell;
      vertical-align: top;
      width: 16.66667%; }
    .grid .cell-lg-3 {
      display: table-cell;
      vertical-align: top;
      width: 25%; }
    .grid .cell-lg-4 {
      display: table-cell;
      vertical-align: top;
      width: 33.33333%; }
    .grid .cell-lg-5 {
      display: table-cell;
      vertical-align: top;
      width: 41.66667%; }
    .grid .cell-lg-6 {
      display: table-cell;
      vertical-align: top;
      width: 50%; }
    .grid .cell-lg-7 {
      display: table-cell;
      vertical-align: top;
      width: 58.33333%; }
    .grid .cell-lg-8 {
      display: table-cell;
      vertical-align: top;
      width: 66.66667%; }
    .grid .cell-lg-9 {
      display: table-cell;
      vertical-align: top;
      width: 75%; }
    .grid .cell-lg-10 {
      display: table-cell;
      vertical-align: top;
      width: 83.33333%; }
    .grid .cell-lg-11 {
      display: table-cell;
      vertical-align: top;
      width: 91.66667%; } }
  @media (min-width: 992px) {
    .grid .cell-md-0 {
      display: none; }
    .grid .cell-md-1 {
      display: table-cell;
      vertical-align: top;
      width: 8.33333%; }
    .grid .cell-md-2 {
      display: table-cell;
      vertical-align: top;
      width: 16.66667%; }
    .grid .cell-md-3 {
      display: table-cell;
      vertical-align: top;
      width: 25%; }
    .grid .cell-md-4 {
      display: table-cell;
      vertical-align: top;
      width: 33.33333%; }
    .grid .cell-md-5 {
      display: table-cell;
      vertical-align: top;
      width: 41.66667%; }
    .grid .cell-md-6 {
      display: table-cell;
      vertical-align: top;
      width: 50%; }
    .grid .cell-md-7 {
      display: table-cell;
      vertical-align: top;
      width: 58.33333%; }
    .grid .cell-md-8 {
      display: table-cell;
      vertical-align: top;
      width: 66.66667%; }
    .grid .cell-md-9 {
      display: table-cell;
      vertical-align: top;
      width: 75%; }
    .grid .cell-md-10 {
      display: table-cell;
      vertical-align: top;
      width: 83.33333%; }
    .grid .cell-md-11 {
      display: table-cell;
      vertical-align: top;
      width: 91.66667%; } }
  @media (max-width: 767px) {
    .grid .cell-xs-0 {
      display: none; }
    .grid .cell-xs-1 {
      display: table-cell;
      vertical-align: top;
      width: 8.33333%; }
    .grid .cell-xs-2 {
      display: table-cell;
      vertical-align: top;
      width: 16.66667%; }
    .grid .cell-xs-3 {
      display: table-cell;
      vertical-align: top;
      width: 25%; }
    .grid .cell-xs-4 {
      display: table-cell;
      vertical-align: top;
      width: 33.33333%; }
    .grid .cell-xs-5 {
      display: table-cell;
      vertical-align: top;
      width: 41.66667%; }
    .grid .cell-xs-6 {
      display: table-cell;
      vertical-align: top;
      width: 50%; }
    .grid .cell-xs-7 {
      display: table-cell;
      vertical-align: top;
      width: 58.33333%; }
    .grid .cell-xs-8 {
      display: table-cell;
      vertical-align: top;
      width: 66.66667%; }
    .grid .cell-xs-9 {
      display: table-cell;
      vertical-align: top;
      width: 75%; }
    .grid .cell-xs-10 {
      display: table-cell;
      vertical-align: top;
      width: 83.33333%; }
    .grid .cell-xs-11 {
      display: table-cell;
      vertical-align: top;
      width: 91.66667%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .grid .cell-sm-0 {
      display: none; }
    .grid .cell-sm-1 {
      display: table-cell;
      vertical-align: top;
      width: 8.33333%; }
    .grid .cell-sm-2 {
      display: table-cell;
      vertical-align: top;
      width: 16.66667%; }
    .grid .cell-sm-3 {
      display: table-cell;
      vertical-align: top;
      width: 25%; }
    .grid .cell-sm-4 {
      display: table-cell;
      vertical-align: top;
      width: 33.33333%; }
    .grid .cell-sm-5 {
      display: table-cell;
      vertical-align: top;
      width: 41.66667%; }
    .grid .cell-sm-6 {
      display: table-cell;
      vertical-align: top;
      width: 50%; }
    .grid .cell-sm-7 {
      display: table-cell;
      vertical-align: top;
      width: 58.33333%; }
    .grid .cell-sm-8 {
      display: table-cell;
      vertical-align: top;
      width: 66.66667%; }
    .grid .cell-sm-9 {
      display: table-cell;
      vertical-align: top;
      width: 75%; }
    .grid .cell-sm-10 {
      display: table-cell;
      vertical-align: top;
      width: 83.33333%; }
    .grid .cell-sm-11 {
      display: table-cell;
      vertical-align: top;
      width: 91.66667%; } }

body{
  margin: 8px 0px;
  font-family: 'Oswald', sans-serif;
}
.body-content{
  margin-top: -3%;
}
.name-row{
  background-color: #00A79E;
  color: #FFFFFF;
  font-size: 64px;
  font-family: 'Pacifico', cursive;
}
.name-row p{
  margin: 10px;
}
img.todd-profile{
  position: absolute;
  bottom: -10%;
  right: 5%;
}
ul li img{
  width: 30%;
}
ul li {
  display: inline;
}
ul{
  list-style-type: none;
}
.title-bar{
    padding: 5px;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.entrepreneur p:nth-child(n+2){
    margin: 0;
}
.title-entrepreneur{
  font-size: 28px;
  margin-top: 0;
  text-transform: uppercase;
}
.entrepreneur a{
  text-decoration: none;
  color: black;
}
.father-of-3{
  background-color: #f26623;
  width: 25%;
  margin-left: 10%;
  min-width: 86px;
}
.father-of-3 a{
  text-decoration: none;
  color: white;
}
.father-of-3:hover ~ img.family{
  display: block;
}
.family{
  display: none;
}
.pd-carfax{
  background-color: black;
  width: 70%;
  margin: -3% 0 -3% auto;
  min-width: 208px;
}
.pd-carfax a{
  text-decoration: none;
  color: white;
}
.cf-mma{
  background-color: #8cc63f;
  width: 60%;
  min-width: 187px;
}
.cf-mma a{
  text-decoration: none;
  color: white;
}
.horizontal-line{
  border-color: #f26623;
  height: 2px;
  background-color: #f26623;
  margin-top: -5%;
}
.skills-line{
  border-color: #8cc63f;
  height: 2px;
  background-color: #8cc63f;
  margin-top: -2%;
  margin-left: 0;
  width: 70%;
}
.metrics progress{
  display: block;
}
.skills-section{
  display: inline-block;
  margin-right: 3%;
}
.skills-section p{
  margin: 5% 0;
  font-size: 20px;
}
progress::-webkit-progress-bar {
    background: #D3D3D3;
    border-radius: 3px;
}

.social li img{
  width: 50px;
  height: 50px;
}

.social li {
  display: inline-block;
}

.kid-edison img{
  width: 35%;
  margin-left: 15%;
  min-width: 100px;
}

.skills{
  position: relative;
  padding-top: 3%;
  padding-left: 2%;
}

.top-title{
  display: none;
  text-align: center;
}

.mobile progress[value] {background-color: #1b75bc; border-radius: 3px;} /* IE10 */
.mobile progress::-webkit-progress-bar-value {background-color: #1b75bc; border-radius: 3px;}
.mobile progress::-webkit-progress-value {background-color: #1b75bc; border-radius: 3px;}
.mobile progress::-moz-progress-bar {background-color: #1b75bc; border-radius: 3px;}

.frontend progress[value] {background-color: #8cc63f; border-radius: 3px;} /* IE10 */
.frontend progress::-webkit-progress-bar-value {background-color: #8cc63f; border-radius: 3px;}
.frontend progress::-webkit-progress-value {background-color: #8cc63f; border-radius: 3px;}
.frontend progress::-moz-progress-bar {background-color: #8cc63f; border-radius: 3px;}

.backend progress[value] {background-color: #00a79e; border-radius: 3px;} /* IE10 */
.backend progress::-webkit-progress-bar-value {background-color: #00a79e; border-radius: 3px;}
.backend progress::-webkit-progress-value {background-color: #00a79e; border-radius: 3px;}
.backend progress::-moz-progress-bar {background-color: #00a79e; border-radius: 3px;}

.xp progress[value] {background-color: #f26521; border-radius: 3px;} /* IE10 */
.xp progress::-webkit-progress-bar-value {background-color: #f26521; border-radius: 3px;}
.xp progress::-webkit-progress-value {background-color: #f26521; border-radius: 3px;}
.xp progress::-moz-progress-bar {background-color: #f26521; border-radius: 3px;}

@media screen and (max-width: 768px) {
    body{
      margin: 0;
    }
    .name-row p{
      margin: 0;
    }
    .pd-carfax {
        margin: 0;
        width: 90%;
    }
    .father-of-3{
      width: 90%;
      margin-left: 0;
    }
    .cf-mma{
      width: 90%;
    }
    .kid-edison{
      display: none;
    }
    .todd-standing{
      display: none;
    }
    .todd-profile{
      display: none;
    }
    .entrepreneur{
      text-align: center;
      padding-left: 8.33333%;
    }
    .skills{
      padding: 0 8.3333%;
      text-align: center;
      margin-top: 5%;
    }
    .find-me{
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
      margin-right: 8.33333%;
      margin-top: 5%;
    }
    .skills-line{
      width: 100%;
      margin-top: -5%;
    }
    .top-title{
      display: block;
    }
    .bottom-title{
      display: none;
    }
    .social{
      text-align: center;
      margin-right: 16.6666%;
    }
}
@media screen and (max-width: 1378px) and (min-width: 1012px){
  .todd-profile{
    display: none;
  }
}
